# Uploads folder
uploads/

# dist folder
backend/frontend/dist/

# General system files
.DS_Store

# Log files
*.log

# Temporary files
tmp/

# Go artifacts
backend/tocket
backend/tocket.db
*.test
*.out

# Node.js dependencies and build output
frontend/node_modules/
frontend/dist/

# Environment files
.env*

# IDE and editor settings
.vscode/
.idea/
*.swp 